# 4. Pandas 入門

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
from pandas import Series, DataFrame

## 4.2 DataFrame

In [3]:
from pandas.io.parsers import read_csv

df = read_csv("WHO_first9cols.csv")
print("Dataframe", df)

Dataframe                       Country  CountryID  Continent  \
0                 Afghanistan          1          1
1                     Albania          2          2
2                     Algeria          3          3
3                     Andorra          4          2
4                      Angola          5          3
5         Antigua and Barbuda          6          4
6                   Argentina          7          5
7                     Armenia          8          2
8                   Australia          9          6
9                     Austria         10          2
10                 Azerbaijan         11          2
11                    Bahamas         12          4
12                    Bahrain         13          1
13                 Bangladesh         14          7
14                   Barbados         15          4
15                    Belarus         16          2
16                    Belgium         17          2
17                     Belize         18          5
18                      Benin         19          3
19                    Bermuda         20          4
20                     Bhutan         21          7
21                    Bolivia         22          5
22     Bosnia and Herzegovina         23          2
23                   Botswana         24          3
24                     Brazil         25          5
25          Brunei Darussalam         26          6
26                   Bulgaria         27          2
27               Burkina Faso         28          3
28                    Burundi         29          3
29                   Cambodia         30          7
..                        ...        ...        ...
172                 Swaziland        173          3
173                    Sweden        174          2
174               Switzerland        175          2
175                     Syria        176          1
176                    Taiwan        177          6
177                Tajikistan        178          2
178                  Tanzania        179          3
179                  Thailand        180          6
180               Timor-Leste        181          6
181                      Togo        182          3
182                     Tonga        183          6
183       Trinidad and Tobago        184          5
184                   Tunisia        185          1
185                    Turkey        186          2
186              Turkmenistan        187          2
187                    Tuvalu        188          6
188                    Uganda        189          3
189                   Ukraine        190          2
190      United Arab Emirates        191          1
191            United Kingdom        192          2
192  United States of America        193          4
193                   Uruguay        194          5
194                Uzbekistan        195          2
195                   Vanuatu        196          6
196                 Venezuela        197          5
197                   Vietnam        198          6
198        West Bank and Gaza        199          1
199                     Yemen        200          1
200                    Zambia        201          3
201                  Zimbabwe        202          3

     Adolescent fertility rate (%)  Adult literacy rate (%)  \
0                            151.0                     28.0
1                             27.0                     98.7
2                              6.0                     69.9
3                              NaN                      NaN
4                            146.0                     67.4
5                              NaN                      NaN
6                             62.0                     97.2
7                             30.0                     99.4
8                             16.0                      NaN
9                             14.0                      NaN
10                            31.0                     98.8
11                            46.0                      NaN
12                            14.0                     86.5
13                           135.0                     47.5
14                            51.0                      NaN
15                            22.0                     99.6
16                             5.0                      NaN
17                            90.0                     70.3
18                           108.0                     34.7
19                             NaN                      NaN
20                            62.0                      NaN
21                            97.0                     86.7
22                            25.0                     96.7
23                            51.0                     81.2
24                            71.0                     88.6
25                            31.0                     92.7
26                            40.0                     98.2
27                           131.0                     23.6
28                            30.0                     59.3
29                            52.0                     73.6
..                             ...                      ...
172                           73.0                     79.6
173                            7.0                      NaN
174                            5.0                      NaN
175                           58.0                     80.8
176                            NaN                      NaN
177                           57.0                     99.5
178                          139.0                     69.4
179                           70.0                     92.6
180                           49.0                      NaN
181                           89.0                     53.2
182                           17.0                     98.9
183                           35.0                     98.5
184                            8.0                     74.3
185                           51.0                     87.4
186                           29.0                     98.8
187                            NaN                      NaN
188                          159.0                     68.1
189                           29.0                     99.4
190                           37.0                     88.5
191                           27.0                      NaN
192                           43.0                      NaN
193                           64.0                     96.8
194                           40.0                      NaN
195                           92.0                     75.5
196                           81.0                     93.0
197                           25.0                     90.3
198                            NaN                      NaN
199                           83.0                     54.1
200                          161.0                     68.0
201                          101.0                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
5                                              15130.0
6                                              11670.0
7                                               4950.0
8                                              33940.0
9                                              36040.0
10                                              5430.0
11                                                 NaN
12                                             34310.0
13                                              1230.0
14                                             15150.0
15                                              9700.0
16                                             33860.0
17                                              7080.0
18                                              1250.0
19                                                 NaN
20                                              4000.0
21                                              3810.0
22                                              6780.0
23                                             11730.0
24                                              8700.0
25                                             49900.0
26                                             10270.0
27                                              1130.0
28                                               320.0
29                                              1550.0
..                                                 ...
172                                             4700.0
173                                            34310.0
174                                            40840.0
175                                             4110.0
176                                                NaN
177                                             1560.0
178                                              980.0
179                                             7440.0
180                                             5100.0
181                                              770.0
182                                             5470.0
183                                            16800.0
184                                             6490.0
185                                             8410.0
186                                             3990.0
187                                                NaN
188                                              880.0
189                                             6110.0
190                                            31190.0
191                                            33650.0
192                                            44070.0
193                                             9940.0
194                                             2190.0
195                                             3480.0
196                                            10970.0
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
5                                              NaN
6                                             98.0
7                                             84.0
8                                             97.0
9                                             98.0
10                                            83.0
11                                            89.0
12                                            98.0
13                                            90.0
14                                            96.0
15                                            88.0
16                                            97.0
17                                            97.0
18                                            73.0
19                                             NaN
20                                            79.0
21                                            95.0
22                                             NaN
23                                            85.0
24                                            95.0
25                                            94.0
26                                            92.0
27                                            42.0
28                                            73.0
29                                            89.0
..                                             ...
172                                           79.0
173                                           95.0
174                                           89.0
175                                           92.0
176                                            NaN
177                                           95.0
178                                           97.0
179                                           94.0
180                                           67.0
181                                           75.0
182                                           94.0
183                                           85.0
184                                           97.0
185                                           89.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                           90.0
190                                           88.0
191                                           99.0
192                                           93.0
193                                          100.0
194                                           78.0
195                                           86.0
196                                           91.0
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
5                                            NaN
6                                           99.0
7                                           80.0
8                                           96.0
9                                           97.0
10                                          86.0
11                                          87.0
12                                          98.0
13                                          87.0
14                                          97.0
15                                          90.0
16                                          97.0
17                                          97.0
18                                          87.0
19                                           NaN
20                                          79.0
21                                          94.0
22                                           NaN
23                                          83.0
24                                          93.0
25                                          94.0
26                                          93.0
27                                          52.0
28                                          76.0
29                                          91.0
..                                           ...
172                                         78.0
173                                         95.0
174                                         89.0
175                                         97.0
176                                          NaN
177                                         99.0
178                                         98.0
179                                         94.0
180                                         70.0
181                                         86.0
182                                         97.0
183                                         85.0
184                                         96.0
185                                         93.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                         90.0
190                                         88.0
191                                         98.0
192                                         91.0
193                                        100.0
194                                         79.0
195                                         88.0
196                                         91.0
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
5                               84.0
6                            39134.0
7                             3010.0
8                            20530.0
9                             8327.0
10                            8406.0
11                             327.0
12                             739.0
13                          155991.0
14                             293.0
15                            9742.0
16                           10430.0
17                             282.0
18                            8760.0
19                               NaN
20                             649.0
21                            9354.0
22                            3926.0
23                            1858.0
24                          189323.0
25                             382.0
26                            7693.0
27                           14359.0
28                            8173.0
29                           14197.0
..                               ...
172                           1134.0
173                           9078.0
174                           7455.0
175                          19408.0
176                              NaN
177                           6640.0
178                          39459.0
179                          63444.0
180                           1114.0
181                           6410.0
182                            100.0
183                           1328.0
184                          10215.0
185                          73922.0
186                           4899.0
187                             10.0
188                          29899.0
189                          46557.0
190                           4248.0
191                          60512.0
192                         302841.0
193                           3331.0
194                          26981.0
195                            221.0
196                          27191.0
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]

In [4]:
print("Shape", df.shape)

Shape (202, 9)

In [5]:
print("Length", len(df))

Length 202

In [6]:
print("Column Headers", df.columns)

Column Headers Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [7]:
print("Data types", df.dtypes)

Data types Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [8]:
print("Index", df.index)

Index RangeIndex(start=0, stop=202, step=1)

In [9]:
print("Values", df.values)

Values [['Afghanistan' 1 1 ..., nan nan 26088.0]
 ['Albania' 2 2 ..., 93.0 94.0 3172.0]
 ['Algeria' 3 3 ..., 94.0 96.0 33351.0]
 ...,
 ['Yemen' 200 1 ..., 65.0 85.0 21732.0]
 ['Zambia' 201 3 ..., 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ..., 88.0 87.0 13228.0]]

## 4.3 Series

In [10]:
from pandas.io.parsers import read_csv
import numpy as np

df = read_csv("WHO_first9cols.csv")
df.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [11]:
country_col = df["Country"]
country_col[:3]

0    Afghanistan
1        Albania
2        Algeria
Name: Country, dtype: object

In [12]:
print("Type df", type(df))

Type df <class 'pandas.core.frame.DataFrame'>

In [13]:
print("Type country col", type(country_col))

Type country col <class 'pandas.core.series.Series'>

In [14]:
print("Series shape", country_col.shape)

Series shape (202,)

In [15]:
print("Series index", country_col.index)

Series index RangeIndex(start=0, stop=202, step=1)

In [16]:
list(country_col.index)[:3]

[0, 1, 2]

In [17]:
print("Series values", country_col.values[:5])

Series values ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola']

In [18]:
print("Series name:", country_col.name)  # 欄位名稱

Series name: Country

In [19]:
print("Last 2 countries:\n", country_col[-2:])

Last 2 countries:
 200      Zambia
201    Zimbabwe
Name: Country, dtype: object

In [20]:
print("Last 2 countries type", type(country_col[-2:]))

Last 2 countries type <class 'pandas.core.series.Series'>

In [21]:
print("df signs", np.sign(df[df.columns[2:-1]]))

df signs      Continent  Adolescent fertility rate (%)  Adult literacy rate (%)  \
0          1.0                            1.0                      1.0
1          1.0                            1.0                      1.0
2          1.0                            1.0                      1.0
3          1.0                            NaN                      NaN
4          1.0                            1.0                      1.0
5          1.0                            NaN                      NaN
6          1.0                            1.0                      1.0
7          1.0                            1.0                      1.0
8          1.0                            1.0                      NaN
9          1.0                            1.0                      NaN
10         1.0                            1.0                      1.0
11         1.0                            1.0                      NaN
12         1.0                            1.0                      1.0
13         1.0                            1.0                      1.0
14         1.0                            1.0                      NaN
15         1.0                            1.0                      1.0
16         1.0                            1.0                      NaN
17         1.0                            1.0                      1.0
18         1.0                            1.0                      1.0
19         1.0                            NaN                      NaN
20         1.0                            1.0                      NaN
21         1.0                            1.0                      1.0
22         1.0                            1.0                      1.0
23         1.0                            1.0                      1.0
24         1.0                            1.0                      1.0
25         1.0                            1.0                      1.0
26         1.0                            1.0                      1.0
27         1.0                            1.0                      1.0
28         1.0                            1.0                      1.0
29         1.0                            1.0                      1.0
..         ...                            ...                      ...
172        1.0                            1.0                      1.0
173        1.0                            1.0                      NaN
174        1.0                            1.0                      NaN
175        1.0                            1.0                      1.0
176        1.0                            NaN                      NaN
177        1.0                            1.0                      1.0
178        1.0                            1.0                      1.0
179        1.0                            1.0                      1.0
180        1.0                            1.0                      NaN
181        1.0                            1.0                      1.0
182        1.0                            1.0                      1.0
183        1.0                            1.0                      1.0
184        1.0                            1.0                      1.0
185        1.0                            1.0                      1.0
186        1.0                            1.0                      1.0
187        1.0                            NaN                      NaN
188        1.0                            1.0                      1.0
189        1.0                            1.0                      1.0
190        1.0                            1.0                      1.0
191        1.0                            1.0                      NaN
192        1.0                            1.0                      NaN
193        1.0                            1.0                      1.0
194        1.0                            1.0                      NaN
195        1.0                            1.0                      1.0
196        1.0                            1.0                      1.0
197        1.0                            1.0                      1.0
198        1.0                            NaN                      NaN
199        1.0                            1.0                      1.0
200        1.0                            1.0                      1.0
201        1.0                            1.0                      1.0

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                                  1.0
2                                                  1.0
3                                                  NaN
4                                                  1.0
5                                                  1.0
6                                                  1.0
7                                                  1.0
8                                                  1.0
9                                                  1.0
10                                                 1.0
11                                                 NaN
12                                                 1.0
13                                                 1.0
14                                                 1.0
15                                                 1.0
16                                                 1.0
17                                                 1.0
18                                                 1.0
19                                                 NaN
20                                                 1.0
21                                                 1.0
22                                                 1.0
23                                                 1.0
24                                                 1.0
25                                                 1.0
26                                                 1.0
27                                                 1.0
28                                                 1.0
29                                                 1.0
..                                                 ...
172                                                1.0
173                                                1.0
174                                                1.0
175                                                1.0
176                                                NaN
177                                                1.0
178                                                1.0
179                                                1.0
180                                                1.0
181                                                1.0
182                                                1.0
183                                                1.0
184                                                1.0
185                                                1.0
186                                                1.0
187                                                NaN
188                                                1.0
189                                                1.0
190                                                1.0
191                                                1.0
192                                                1.0
193                                                1.0
194                                                1.0
195                                                1.0
196                                                1.0
197                                                1.0
198                                                NaN
199                                                1.0
200                                                1.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                              1.0
2                                              1.0
3                                              1.0
4                                              1.0
5                                              NaN
6                                              1.0
7                                              1.0
8                                              1.0
9                                              1.0
10                                             1.0
11                                             1.0
12                                             1.0
13                                             1.0
14                                             1.0
15                                             1.0
16                                             1.0
17                                             1.0
18                                             1.0
19                                             NaN
20                                             1.0
21                                             1.0
22                                             NaN
23                                             1.0
24                                             1.0
25                                             1.0
26                                             1.0
27                                             1.0
28                                             1.0
29                                             1.0
..                                             ...
172                                            1.0
173                                            1.0
174                                            1.0
175                                            1.0
176                                            NaN
177                                            1.0
178                                            1.0
179                                            1.0
180                                            1.0
181                                            1.0
182                                            1.0
183                                            1.0
184                                            1.0
185                                            1.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                            1.0
190                                            1.0
191                                            1.0
192                                            1.0
193                                            1.0
194                                            1.0
195                                            1.0
196                                            1.0
197                                            1.0
198                                            NaN
199                                            1.0
200                                            1.0
201                                            1.0

     Net primary school enrolment ratio male (%)
0                                            NaN
1                                            1.0
2                                            1.0
3                                            1.0
4                                            1.0
5                                            NaN
6                                            1.0
7                                            1.0
8                                            1.0
9                                            1.0
10                                           1.0
11                                           1.0
12                                           1.0
13                                           1.0
14                                           1.0
15                                           1.0
16                                           1.0
17                                           1.0
18                                           1.0
19                                           NaN
20                                           1.0
21                                           1.0
22                                           NaN
23                                           1.0
24                                           1.0
25                                           1.0
26                                           1.0
27                                           1.0
28                                           1.0
29                                           1.0
..                                           ...
172                                          1.0
173                                          1.0
174                                          1.0
175                                          1.0
176                                          NaN
177                                          1.0
178                                          1.0
179                                          1.0
180                                          1.0
181                                          1.0
182                                          1.0
183                                          1.0
184                                          1.0
185                                          1.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                          1.0
190                                          1.0
191                                          1.0
192                                          1.0
193                                          1.0
194                                          1.0
195                                          1.0
196                                          1.0
197                                          1.0
198                                          NaN
199                                          1.0
200                                          1.0
201                                          1.0

[202 rows x 6 columns]

D:\Python\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sign
  """Entry point for launching an IPython kernel.

In [22]:
print("df signs", np.sign(df.ix[:, 1:]))

df signs      CountryID  Continent  Adolescent fertility rate (%)  \
0          1.0        1.0                            1.0
1          1.0        1.0                            1.0
2          1.0        1.0                            1.0
3          1.0        1.0                            NaN
4          1.0        1.0                            1.0
5          1.0        1.0                            NaN
6          1.0        1.0                            1.0
7          1.0        1.0                            1.0
8          1.0        1.0                            1.0
9          1.0        1.0                            1.0
10         1.0        1.0                            1.0
11         1.0        1.0                            1.0
12         1.0        1.0                            1.0
13         1.0        1.0                            1.0
14         1.0        1.0                            1.0
15         1.0        1.0                            1.0
16         1.0        1.0                            1.0
17         1.0        1.0                            1.0
18         1.0        1.0                            1.0
19         1.0        1.0                            NaN
20         1.0        1.0                            1.0
21         1.0        1.0                            1.0
22         1.0        1.0                            1.0
23         1.0        1.0                            1.0
24         1.0        1.0                            1.0
25         1.0        1.0                            1.0
26         1.0        1.0                            1.0
27         1.0        1.0                            1.0
28         1.0        1.0                            1.0
29         1.0        1.0                            1.0
..         ...        ...                            ...
172        1.0        1.0                            1.0
173        1.0        1.0                            1.0
174        1.0        1.0                            1.0
175        1.0        1.0                            1.0
176        1.0        1.0                            NaN
177        1.0        1.0                            1.0
178        1.0        1.0                            1.0
179        1.0        1.0                            1.0
180        1.0        1.0                            1.0
181        1.0        1.0                            1.0
182        1.0        1.0                            1.0
183        1.0        1.0                            1.0
184        1.0        1.0                            1.0
185        1.0        1.0                            1.0
186        1.0        1.0                            1.0
187        1.0        1.0                            NaN
188        1.0        1.0                            1.0
189        1.0        1.0                            1.0
190        1.0        1.0                            1.0
191        1.0        1.0                            1.0
192        1.0        1.0                            1.0
193        1.0        1.0                            1.0
194        1.0        1.0                            1.0
195        1.0        1.0                            1.0
196        1.0        1.0                            1.0
197        1.0        1.0                            1.0
198        1.0        1.0                            NaN
199        1.0        1.0                            1.0
200        1.0        1.0                            1.0
201        1.0        1.0                            1.0

     Adult literacy rate (%)  \
0                        1.0
1                        1.0
2                        1.0
3                        NaN
4                        1.0
5                        NaN
6                        1.0
7                        1.0
8                        NaN
9                        NaN
10                       1.0
11                       NaN
12                       1.0
13                       1.0
14                       NaN
15                       1.0
16                       NaN
17                       1.0
18                       1.0
19                       NaN
20                       NaN
21                       1.0
22                       1.0
23                       1.0
24                       1.0
25                       1.0
26                       1.0
27                       1.0
28                       1.0
29                       1.0
..                       ...
172                      1.0
173                      NaN
174                      NaN
175                      1.0
176                      NaN
177                      1.0
178                      1.0
179                      1.0
180                      NaN
181                      1.0
182                      1.0
183                      1.0
184                      1.0
185                      1.0
186                      1.0
187                      NaN
188                      1.0
189                      1.0
190                      1.0
191                      NaN
192                      NaN
193                      1.0
194                      NaN
195                      1.0
196                      1.0
197                      1.0
198                      NaN
199                      1.0
200                      1.0
201                      1.0

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                                  1.0
2                                                  1.0
3                                                  NaN
4                                                  1.0
5                                                  1.0
6                                                  1.0
7                                                  1.0
8                                                  1.0
9                                                  1.0
10                                                 1.0
11                                                 NaN
12                                                 1.0
13                                                 1.0
14                                                 1.0
15                                                 1.0
16                                                 1.0
17                                                 1.0
18                                                 1.0
19                                                 NaN
20                                                 1.0
21                                                 1.0
22                                                 1.0
23                                                 1.0
24                                                 1.0
25                                                 1.0
26                                                 1.0
27                                                 1.0
28                                                 1.0
29                                                 1.0
..                                                 ...
172                                                1.0
173                                                1.0
174                                                1.0
175                                                1.0
176                                                NaN
177                                                1.0
178                                                1.0
179                                                1.0
180                                                1.0
181                                                1.0
182                                                1.0
183                                                1.0
184                                                1.0
185                                                1.0
186                                                1.0
187                                                NaN
188                                                1.0
189                                                1.0
190                                                1.0
191                                                1.0
192                                                1.0
193                                                1.0
194                                                1.0
195                                                1.0
196                                                1.0
197                                                1.0
198                                                NaN
199                                                1.0
200                                                1.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                              1.0
2                                              1.0
3                                              1.0
4                                              1.0
5                                              NaN
6                                              1.0
7                                              1.0
8                                              1.0
9                                              1.0
10                                             1.0
11                                             1.0
12                                             1.0
13                                             1.0
14                                             1.0
15                                             1.0
16                                             1.0
17                                             1.0
18                                             1.0
19                                             NaN
20                                             1.0
21                                             1.0
22                                             NaN
23                                             1.0
24                                             1.0
25                                             1.0
26                                             1.0
27                                             1.0
28                                             1.0
29                                             1.0
..                                             ...
172                                            1.0
173                                            1.0
174                                            1.0
175                                            1.0
176                                            NaN
177                                            1.0
178                                            1.0
179                                            1.0
180                                            1.0
181                                            1.0
182                                            1.0
183                                            1.0
184                                            1.0
185                                            1.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                            1.0
190                                            1.0
191                                            1.0
192                                            1.0
193                                            1.0
194                                            1.0
195                                            1.0
196                                            1.0
197                                            1.0
198                                            NaN
199                                            1.0
200                                            1.0
201                                            1.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                            1.0
2                                            1.0
3                                            1.0
4                                            1.0
5                                            NaN
6                                            1.0
7                                            1.0
8                                            1.0
9                                            1.0
10                                           1.0
11                                           1.0
12                                           1.0
13                                           1.0
14                                           1.0
15                                           1.0
16                                           1.0
17                                           1.0
18                                           1.0
19                                           NaN
20                                           1.0
21                                           1.0
22                                           NaN
23                                           1.0
24                                           1.0
25                                           1.0
26                                           1.0
27                                           1.0
28                                           1.0
29                                           1.0
..                                           ...
172                                          1.0
173                                          1.0
174                                          1.0
175                                          1.0
176                                          NaN
177                                          1.0
178                                          1.0
179                                          1.0
180                                          1.0
181                                          1.0
182                                          1.0
183                                          1.0
184                                          1.0
185                                          1.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                          1.0
190                                          1.0
191                                          1.0
192                                          1.0
193                                          1.0
194                                          1.0
195                                          1.0
196                                          1.0
197                                          1.0
198                                          NaN
199                                          1.0
200                                          1.0
201                                          1.0

     Population (in thousands) total
0                                1.0
1                                1.0
2                                1.0
3                                1.0
4                                1.0
5                                1.0
6                                1.0
7                                1.0
8                                1.0
9                                1.0
10                               1.0
11                               1.0
12                               1.0
13                               1.0
14                               1.0
15                               1.0
16                               1.0
17                               1.0
18                               1.0
19                               NaN
20                               1.0
21                               1.0
22                               1.0
23                               1.0
24                               1.0
25                               1.0
26                               1.0
27                               1.0
28                               1.0
29                               1.0
..                               ...
172                              1.0
173                              1.0
174                              1.0
175                              1.0
176                              NaN
177                              1.0
178                              1.0
179                              1.0
180                              1.0
181                              1.0
182                              1.0
183                              1.0
184                              1.0
185                              1.0
186                              1.0
187                              1.0
188                              1.0
189                              1.0
190                              1.0
191                              1.0
192                              1.0
193                              1.0
194                              1.0
195                              1.0
196                              1.0
197                              1.0
198                              NaN
199                              1.0
200                              1.0
201                              1.0

[202 rows x 8 columns]

D:\Python\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sign
  """Entry point for launching an IPython kernel.

In [23]:
print("df signs", np.sign(df.loc[:, 'CountryID':]))

df signs      CountryID  Continent  Adolescent fertility rate (%)  \
0          1.0        1.0                            1.0
1          1.0        1.0                            1.0
2          1.0        1.0                            1.0
3          1.0        1.0                            NaN
4          1.0        1.0                            1.0
5          1.0        1.0                            NaN
6          1.0        1.0                            1.0
7          1.0        1.0                            1.0
8          1.0        1.0                            1.0
9          1.0        1.0                            1.0
10         1.0        1.0                            1.0
11         1.0        1.0                            1.0
12         1.0        1.0                            1.0
13         1.0        1.0                            1.0
14         1.0        1.0                            1.0
15         1.0        1.0                            1.0
16         1.0        1.0                            1.0
17         1.0        1.0                            1.0
18         1.0        1.0                            1.0
19         1.0        1.0                            NaN
20         1.0        1.0                            1.0
21         1.0        1.0                            1.0
22         1.0        1.0                            1.0
23         1.0        1.0                            1.0
24         1.0        1.0                            1.0
25         1.0        1.0                            1.0
26         1.0        1.0                            1.0
27         1.0        1.0                            1.0
28         1.0        1.0                            1.0
29         1.0        1.0                            1.0
..         ...        ...                            ...
172        1.0        1.0                            1.0
173        1.0        1.0                            1.0
174        1.0        1.0                            1.0
175        1.0        1.0                            1.0
176        1.0        1.0                            NaN
177        1.0        1.0                            1.0
178        1.0        1.0                            1.0
179        1.0        1.0                            1.0
180        1.0        1.0                            1.0
181        1.0        1.0                            1.0
182        1.0        1.0                            1.0
183        1.0        1.0                            1.0
184        1.0        1.0                            1.0
185        1.0        1.0                            1.0
186        1.0        1.0                            1.0
187        1.0        1.0                            NaN
188        1.0        1.0                            1.0
189        1.0        1.0                            1.0
190        1.0        1.0                            1.0
191        1.0        1.0                            1.0
192        1.0        1.0                            1.0
193        1.0        1.0                            1.0
194        1.0        1.0                            1.0
195        1.0        1.0                            1.0
196        1.0        1.0                            1.0
197        1.0        1.0                            1.0
198        1.0        1.0                            NaN
199        1.0        1.0                            1.0
200        1.0        1.0                            1.0
201        1.0        1.0                            1.0

     Adult literacy rate (%)  \
0                        1.0
1                        1.0
2                        1.0
3                        NaN
4                        1.0
5                        NaN
6                        1.0
7                        1.0
8                        NaN
9                        NaN
10                       1.0
11                       NaN
12                       1.0
13                       1.0
14                       NaN
15                       1.0
16                       NaN
17                       1.0
18                       1.0
19                       NaN
20                       NaN
21                       1.0
22                       1.0
23                       1.0
24                       1.0
25                       1.0
26                       1.0
27                       1.0
28                       1.0
29                       1.0
..                       ...
172                      1.0
173                      NaN
174                      NaN
175                      1.0
176                      NaN
177                      1.0
178                      1.0
179                      1.0
180                      NaN
181                      1.0
182                      1.0
183                      1.0
184                      1.0
185                      1.0
186                      1.0
187                      NaN
188                      1.0
189                      1.0
190                      1.0
191                      NaN
192                      NaN
193                      1.0
194                      NaN
195                      1.0
196                      1.0
197                      1.0
198                      NaN
199                      1.0
200                      1.0
201                      1.0

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                                  1.0
2                                                  1.0
3                                                  NaN
4                                                  1.0
5                                                  1.0
6                                                  1.0
7                                                  1.0
8                                                  1.0
9                                                  1.0
10                                                 1.0
11                                                 NaN
12                                                 1.0
13                                                 1.0
14                                                 1.0
15                                                 1.0
16                                                 1.0
17                                                 1.0
18                                                 1.0
19                                                 NaN
20                                                 1.0
21                                                 1.0
22                                                 1.0
23                                                 1.0
24                                                 1.0
25                                                 1.0
26                                                 1.0
27                                                 1.0
28                                                 1.0
29                                                 1.0
..                                                 ...
172                                                1.0
173                                                1.0
174                                                1.0
175                                                1.0
176                                                NaN
177                                                1.0
178                                                1.0
179                                                1.0
180                                                1.0
181                                                1.0
182                                                1.0
183                                                1.0
184                                                1.0
185                                                1.0
186                                                1.0
187                                                NaN
188                                                1.0
189                                                1.0
190                                                1.0
191                                                1.0
192                                                1.0
193                                                1.0
194                                                1.0
195                                                1.0
196                                                1.0
197                                                1.0
198                                                NaN
199                                                1.0
200                                                1.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                              1.0
2                                              1.0
3                                              1.0
4                                              1.0
5                                              NaN
6                                              1.0
7                                              1.0
8                                              1.0
9                                              1.0
10                                             1.0
11                                             1.0
12                                             1.0
13                                             1.0
14                                             1.0
15                                             1.0
16                                             1.0
17                                             1.0
18                                             1.0
19                                             NaN
20                                             1.0
21                                             1.0
22                                             NaN
23                                             1.0
24                                             1.0
25                                             1.0
26                                             1.0
27                                             1.0
28                                             1.0
29                                             1.0
..                                             ...
172                                            1.0
173                                            1.0
174                                            1.0
175                                            1.0
176                                            NaN
177                                            1.0
178                                            1.0
179                                            1.0
180                                            1.0
181                                            1.0
182                                            1.0
183                                            1.0
184                                            1.0
185                                            1.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                            1.0
190                                            1.0
191                                            1.0
192                                            1.0
193                                            1.0
194                                            1.0
195                                            1.0
196                                            1.0
197                                            1.0
198                                            NaN
199                                            1.0
200                                            1.0
201                                            1.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                            1.0
2                                            1.0
3                                            1.0
4                                            1.0
5                                            NaN
6                                            1.0
7                                            1.0
8                                            1.0
9                                            1.0
10                                           1.0
11                                           1.0
12                                           1.0
13                                           1.0
14                                           1.0
15                                           1.0
16                                           1.0
17                                           1.0
18                                           1.0
19                                           NaN
20                                           1.0
21                                           1.0
22                                           NaN
23                                           1.0
24                                           1.0
25                                           1.0
26                                           1.0
27                                           1.0
28                                           1.0
29                                           1.0
..                                           ...
172                                          1.0
173                                          1.0
174                                          1.0
175                                          1.0
176                                          NaN
177                                          1.0
178                                          1.0
179                                          1.0
180                                          1.0
181                                          1.0
182                                          1.0
183                                          1.0
184                                          1.0
185                                          1.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                          1.0
190                                          1.0
191                                          1.0
192                                          1.0
193                                          1.0
194                                          1.0
195                                          1.0
196                                          1.0
197                                          1.0
198                                          NaN
199                                          1.0
200                                          1.0
201                                          1.0

     Population (in thousands) total
0                                1.0
1                                1.0
2                                1.0
3                                1.0
4                                1.0
5                                1.0
6                                1.0
7                                1.0
8                                1.0
9                                1.0
10                               1.0
11                               1.0
12                               1.0
13                               1.0
14                               1.0
15                               1.0
16                               1.0
17                               1.0
18                               1.0
19                               NaN
20                               1.0
21                               1.0
22                               1.0
23                               1.0
24                               1.0
25                               1.0
26                               1.0
27                               1.0
28                               1.0
29                               1.0
..                               ...
172                              1.0
173                              1.0
174                              1.0
175                              1.0
176                              NaN
177                              1.0
178                              1.0
179                              1.0
180                              1.0
181                              1.0
182                              1.0
183                              1.0
184                              1.0
185                              1.0
186                              1.0
187                              1.0
188                              1.0
189                              1.0
190                              1.0
191                              1.0
192                              1.0
193                              1.0
194                              1.0
195                              1.0
196                              1.0
197                              1.0
198                              NaN
199                              1.0
200                              1.0
201                              1.0

[202 rows x 8 columns]

D:\Python\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sign
  """Entry point for launching an IPython kernel.

In [24]:
last_col = df.columns[-1]
last_col

'Population (in thousands) total'

In [25]:
print("Last df column signs", last_col, np.sign(df[last_col]))

Last df column signs Population (in thousands) total 0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     NaN
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
172    1.0
173    1.0
174    1.0
175    1.0
176    NaN
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    NaN
199    1.0
200    1.0
201    1.0
Name: Population (in thousands) total, dtype: float64

D:\Python\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sign
  """Entry point for launching an IPython kernel.

In [26]:
print(np.sum(df[last_col] - df[last_col].values))

0.0

## 4.4 利用 pandas 查詢數據

In [27]:
# import Quandl

# # Data from http://www.quandl.com/SIDC/SUNSPOTS_A-Sunspot-Numbers-Annual
# # PyPi url https://pypi.python.org/pypi/Quandl
# sunspots = Quandl.get("SIDC/SUNSPOTS_A")
# print("Head 2", sunspots.head(2)) 
# print("Tail 2", sunspots.tail(2))

# last_date = sunspots.index[-1]
# print("Last value", sunspots.loc[last_date])

# print("Values slice by date", sunspots["20020101": "20131231"])

# print("Slice from a list of indices", sunspots.iloc[[2, 4, -4, -2]])

# print("Scalar with Iloc", sunspots.iloc[0, 0])
# print("Scalar with iat", sunspots.iat[1, 0])

# print("Boolean selection", sunspots[sunspots > sunspots.mean()])
# print("Boolean selection with column label", sunspots[sunspots.Number > sunspots.Number.mean()])

## 4.5 利用 pandas 的 DataFrame 進行統計計算

In [28]:
# import Quandl

# # Data from http://www.quandl.com/SIDC/SUNSPOTS_A-Sunspot-Numbers-Annual
# # PyPi url https://pypi.python.org/pypi/Quandl
# sunspots = Quandl.get("SIDC/SUNSPOTS_A")
# print("Describe", sunspots.describe())
# print("Non NaN observations", sunspots.count())
# print("MAD", sunspots.mad())
# print("Median", sunspots.median())
# print("Min", sunspots.min())
# print("Max", sunspots.max())
# print("Mode", sunspots.mode())
# print("Standard Deviation", sunspots.std())
# print("Variance", sunspots.var())
# print("Skewness", sunspots.skew())
# print("Kurtosis", sunspots.kurt())

## 4.6 利用 pandas 的 DataFrame 實現數據聚合

In [29]:
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint 
import numpy as np

seed(42)

df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(7), 'Number' : randint(1, 9, size=(7,))})

df

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold

In [30]:
weather_group = df.groupby('Weather')

i = 0

for name, group in weather_group:
    i = i + 1 
    print("Group", i, name)
    print(group)

Group 1 cold
       Food  Number     Price Weather
0      soup       8  3.745401    cold
2  icecream       4  7.319939    cold
4  icecream       8  1.560186    cold
6      soup       6  0.580836    cold
Group 2 hot
        Food  Number     Price Weather
1       soup       5  9.507143     hot
3  chocolate       8  5.986585     hot
5   icecream       3  1.559945     hot

In [31]:
weather_group.first()

         Food  Number     Price
Weather
cold     soup       8  3.745401
hot      soup       5  9.507143

In [32]:
weather_group.last()

             Food  Number     Price
Weather
cold         soup       6  0.580836
hot      icecream       3  1.559945

In [33]:
weather_group.mean()

           Number     Price
Weather
cold     6.500000  3.301591
hot      5.333333  5.684558

In [34]:
wf_groups = df.groupby(['Weather', 'Food'])
wf_groups.groups

{('cold', 'icecream'): Int64Index([2, 4], dtype='int64'),
 ('cold', 'soup'): Int64Index([0, 6], dtype='int64'),
 ('hot', 'chocolate'): Int64Index([3], dtype='int64'),
 ('hot', 'icecream'): Int64Index([5], dtype='int64'),
 ('hot', 'soup'): Int64Index([1], dtype='int64')}

### aggregate 聚合

In [35]:
# aggregate 聚合

wf_groups.agg([np.mean, np.median])

                  Number            Price
                    mean median      mean    median
Weather Food
cold    icecream       6      6  4.440063  4.440063
        soup           7      7  2.163119  2.163119
hot     chocolate      8      8  5.986585  5.986585
        icecream       3      3  1.559945  1.559945
        soup           5      5  9.507143  9.507143

## 4.7 DataFrame 的串聯與附加操作

In [36]:
df

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold

In [37]:
df[:3]

       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold

In [38]:
# concat
pd.concat([df[:3], df[3:]])

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold

In [39]:
# append
df[:3].append(df[5:])

       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold
5  icecream       3  1.559945     hot
6      soup       6  0.580836    cold

## 4.8 連接 DataFrames

In [40]:
dests = pd.read_csv('dest.csv')
dests

   EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam

In [41]:
tips = pd.read_csv('tips.csv')
tips

   EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5

In [42]:
# merge
# print("Merge() on key\n", pd.merge(dests, tips, on='EmpNr'))
pd.merge(dests, tips, on='EmpNr')

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [43]:
# print("Dests join() tips\n", dests.join(tips, lsuffix='Dest', rsuffix='Tips'))
dests.join(tips,  lsuffix='Dest', rsuffix='Tips')

# 這個結果很奇怪，看起來是 根本就對不起來，但其實他們是依據兩方的 index 來關聯

   EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5

In [44]:
# print("Inner join with merge()\n", pd.merge(dests, tips, how='inner'))
pd.merge(dests, tips, how='inner')

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [45]:
# print("Outer join\n", pd.merge(dests, tips, how='outer'))
pd.merge(dests, tips, how='outer')

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

## 4.9 處理缺失數據的問題

In [46]:
from pandas.io.parsers import read_csv
import numpy as np

df = read_csv("WHO_first9cols.csv")
df.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [47]:
import pandas as pd
import numpy as np

df = pd.read_csv('WHO_first9cols.csv')

# Select first 3 rows of country and Net primary school enrolment ratio male (%)
df = df[['Country', df.columns[-2]]][:2]
df

       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [48]:
# print("Null Values\n", pd.isnull(df))
pd.isnull(df)

  Country Net primary school enrolment ratio male (%)
0   False                                        True
1   False                                       False

In [49]:
print("Total Null Values\n", pd.isnull(df).sum())
# pd.isnull(df).sum()

Total Null Values
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64

In [50]:
# print("Not Null Values\n", df.notnull())
df.notnull()

  Country Net primary school enrolment ratio male (%)
0    True                                       False
1    True                                        True

In [51]:
# print("Last Column Doubled\n", 2 * df[df.columns[-1]])
2 * df[df.columns[-1]]

0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64

In [52]:
# print("Last Column plus NaN\n", df[df.columns[-1]] + np.nan)
df[df.columns[-1]] + np.nan

0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64

In [53]:
# print("Zero filled\n", df.fillna(0))
df.fillna(0)

       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0

## 4.10 處理日期數據

In [54]:
import pandas as pd
from pandas.tseries.offsets import DateOffset
import sys

# print("Date range", pd.date_range('1/1/1900', periods=42, freq='D'))
dr = pd.date_range('1/1/1900', periods=42, freq='D')
dr

DatetimeIndex(['1900-01-01', '1900-01-02', '1900-01-03', '1900-01-04',
               '1900-01-05', '1900-01-06', '1900-01-07', '1900-01-08',
               '1900-01-09', '1900-01-10', '1900-01-11', '1900-01-12',
               '1900-01-13', '1900-01-14', '1900-01-15', '1900-01-16',
               '1900-01-17', '1900-01-18', '1900-01-19', '1900-01-20',
               '1900-01-21', '1900-01-22', '1900-01-23', '1900-01-24',
               '1900-01-25', '1900-01-26', '1900-01-27', '1900-01-28',
               '1900-01-29', '1900-01-30', '1900-01-31', '1900-02-01',
               '1900-02-02', '1900-02-03', '1900-02-04', '1900-02-05',
               '1900-02-06', '1900-02-07', '1900-02-08', '1900-02-09',
               '1900-02-10', '1900-02-11'],
              dtype='datetime64[ns]', freq='D')

In [55]:
type(dr)

pandas.tseries.index.DatetimeIndex

In [56]:
# Pandas 無法接受 1/1/1677
try:
    print("Date range", pd.date_range('1/1/1677', periods=4, freq='D'))
except:
    etype, value, _ = sys.exc_info()
    print("Error encountered", etype, value)

Error encountered <class 'pandas.tslib.OutOfBoundsDatetime'> Out of bounds nanosecond timestamp: 1677-01-01 00:00:00

In [57]:
# 最早可以接受 9/30/1677

try:
    print("Date range", pd.date_range('9/30/1677', periods=4, freq='D'))
except:
    etype, value, _ = sys.exc_info()
    print("Error encountered", etype, value)

Date range DatetimeIndex(['1677-09-30', '1677-10-01', '1677-10-02', '1677-10-03'], dtype='datetime64[ns]', freq='D')

In [58]:
seconds = 2 ** 56/10 ** 9
offset = DateOffset(seconds=seconds)
mid = pd.to_datetime('1/1/1970')
print("Start valid range", mid - offset)

Start valid range 1967-09-20 00:00:05.962072

In [59]:
print("End valid range", mid + offset)

End valid range 1972-04-13 23:59:54.037928

In [60]:
# print(pd.to_datetime(['1900/1/1', '1901.12.11']))
pd.to_datetime(['1900/1/1', '1901.12.11'])

DatetimeIndex(['1900-01-01', '1901-12-11'], dtype='datetime64[ns]', freq=None)

In [61]:
# print("With format", pd.to_datetime(['19021112', '19031230'], format='%Y%m%d'))
pd.to_datetime(['19021112', '19031230'], format='%Y%m%d')

DatetimeIndex(['1902-11-12', '1903-12-30'], dtype='datetime64[ns]', freq=None)

In [62]:
# print("Illegal date", pd.to_datetime(['1902-11-12', 'not a date']))
# pd.to_datetime(['1902-11-12', 'not a date'])

In [63]:
# print("Illegal date coerced", pd.to_datetime(['1902-11-12', 'not a date'], coerce=True))
pd.to_datetime(['1902-11-12', 'not a date'], errors='coerce')

DatetimeIndex(['1902-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

## 4.11 數據透視表

In [64]:
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)
N = 7
df = pd.DataFrame({
   'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(N), 'Number' : randint(1, 9, size=(N,))})

# print("DataFrame\n", df)
df

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold

In [65]:
# print(pd.pivot_table(df, cols=['Food'], aggfunc=np.sum))
pd.pivot_table(df, columns=['Food'], aggfunc=np.sum)

Food    chocolate   icecream      soup
Number   8.000000  15.000000  19.00000
Price    5.986585  10.440071  13.83338

In [66]:
pd.pivot_table(df, columns = 'Food', aggfunc = np.mean)

Food    chocolate  icecream      soup
Number   8.000000  5.000000  6.333333
Price    5.986585  3.480024  4.611127

## 4.12 訪問遠程數據

In [67]:
# from pandas.io.data import Options
from pandas_datareader.data import Options
import datetime


def next_friday():
    today = datetime.date.today()
    return today + datetime.timedelta( (4-today.weekday()) % 7 )

def get_price(options, is_call, is_put):
    fri = next_friday()
    option_list = options.get_near_stock_price(above_below=1, call=is_call, put=is_put, expiry=fri)[0]
    option =  option_list[option_list["Open Int"] == option_list["Open Int"].max()]    
    return option["Last"].values[0]

def get_straddle():
    options = Options('AAPL', "yahoo")
    call =  get_price(options, True, False)
    put = get_price(options, False, True)
    return call + put

if __name__ == "__main__":
    print(get_straddle())

RemoteDataError: Data not available